<%-include('partials/header')  %>
<%-include('partials/navbar')  %>

    

    <!-- Formulario para crear publicaciones -->
    
        <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="text-start py-3 text-light">Mis Publicaciones</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col d-flex justify-content-center" >
                <main class="gap-2 d-flex flex-column" id="lista-publicaciones">
                    
                    
                </main>
            </div>
        </div>
    </div>




    <!-- <div class="container d-flex gap-2 justify-content-center">
        <div class="container text-center">
            <div class="row">

            </div>
        </div>
    </div> -->


<!-- </div>
</div>             -->


    <!-- <div class="dj-banner">
        <div class="dj-bg">
            <img src="/images/img-principal.png" alt="" height="400px">
            
            </div>
        </div>            
    </div> -->




<script src="/js/home.js"></script>

  <%-include('partials/footer')  %>   