* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-image: url('../images/pared-de-ladrillo.jpg');
    background-repeat:repeat;
}

/* #img-public {
    height: 400px;
    width: 400px;
} */

#muro {
    height: 800px;
    width: 1400px; 
}

/* #tarj {
    background-color: transparent;
} */